.search-container {
  display: flex;
  justify-content: center;
}

input {
  font-family: "Montserrat", sans-serif;
}

.search-input {
  width: 80%;
  margin: 0 10px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
}

.submit-btn {
  border: none;
  background-color: #132743;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
}
