@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #407088;
  min-width: 930px;
  max-width: 1400px;
}

.app-container {
  background-color: #ffcbcb;
  opacity: 0.8;
  margin: 50px;
  padding: 50px;
  border-radius: 5px;
}
